<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  </head>
  <body>
    <% require 'pg' %>
    <% connection = PG::connect(dbname: "goya") %>
    <% connection.internal_encoding = "UTF-8" %>
   
    <% result = connection.exec("select give_for,quality from crops where not give_for = '自家消費';") %>
    <% data = [] %>
    <% result.each do |record| %>
      <%  data << "譲渡先が自家消費ではないもの：#{record["give_for"]}" %>
    <% end %>
    <form action="goya.cgi" method="POST">
       下記のボタンを押すと、譲渡先が自家消費ではないもののgoyaの情報ページに飛びます<br><br>
       <!-- valueには、送りたいデータを代入する -->
       <!-- name="goya"を、情報の目印とする -->
      <input type="text" name="goya" value="<%= data.join(' ') %>">
      <input type="submit" name="送信" >
    </form>
  
   <% result = connection.exec("select quality from crops where quality = false;")%>
   <% data = [] %>
  <% result.each do |record| %>
    <%  data << "品質が悪いもの：#{record["quality"]}" %>
    <% end %>
    <form action="quality.cgi" method="POST">
      下記のボタンを押すと、品質が悪いもの（false）のgoyaの情報ページに飛びます<br><br>
       <!-- valueには、送りたいデータを代入する -->
      <!-- name="goya"を、情報の目印とする -->
     <input type="text" name="goya" value="<%= data.join(' ') %>">
      <input type="submit" name="送信" >
    </form>
  
  
    </body>
</html>